.cube-container {
  display: flex; 
  height: 100vh; 
  width: 100vw; 
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.cube-area {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  flex-direction: column;
  background-color: #51ce9a6c;
  padding: 0.5rem;
  text-align: center;
  aspect-ratio: 1; 
  border: 1px solid rgb(252, 243, 0);
  position: relative; 
  z-index: 1;
  overflow: hidden; 
}

.posts-section {
  flex: 1;
  background-color: #111;
  padding: 2rem;
  overflow-y: 2rem;
  color: rgb(252, 243, 0);
}

.post {
  border: rgb(252, 243, 0);
}

.post-text {
  color: rgb(255, 253, 187);
  text-indent: 2rem;
}

.edit-button {
  padding: 0.5rem;
  font-size: 1rem;
  color: rgba(252, 244, 0, 0.505);
  background-color: #0547078e;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  position: relative;
}

.edit-button:hover {
  background-color: #45a049;
  color: black;
}

.like-button {
  padding: 0.5rem;
  font-size: 1rem;
  color: #054707;
  background-color: rgba(252, 244, 0, 0.505);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  position: relative;
}

.like-button:hover {
  color: black;
  background-color: rgb(252, 243, 0);
}