<div class="cube-container">
    
    <div #cube (mouseover)="onMouseOver()" (mouseout)="onMouseOut()" [class.hovering]="isRotating" class="cube-area">
        <div class="tooltip" [class.visible]="!isRotating">MOVE OUTSIDE TO SPIN</div> 
    </div>

    <div class="posts-section">
        <button class="edit-button">Edit</button>
        <button class="like-button">Like</button>
        <h2>people's reactions:</h2>
        @for (post of theme.posts; track $index) {
        <div class="post">
            <!-- <p>{{post.userId.username}} wrote on {{ post.userId.created_at | elapsedTime}}:</p> -->
            <p>{{post.userId.username}} wrote on {{ post.userId.created_at | date : 'yyyy-mm-dd hh:mm:ss' }}:</p>
            <p class="post-text">"{{post.text}}"</p>
        </div>
        }
    </div>
</div>