.grid-item {
    background-color: #61000050;
    color: white;
    padding: 20px;
    text-align: center;
    aspect-ratio: 1;
    place-items: center;
    position: relative;
}

/* .grid-item:hover {
    transform: scale(1.05);
} */