.grid-item {
    background-color: #00613950;
    color: white;
    padding: 30px;
    text-align: center;
    aspect-ratio: 1;
    place-items: center;
    position: relative;
}

.grid-item:hover {
    background-color: #51ce9a6c;
}