
.catalog-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px; /* Adjust the gap between items */
  justify-content: left;
  padding: 1rem;
}

.cube-card {
  display: inline-block;
  position: relative;
  width: auto; 
  height: auto; 
  padding: 0.5rem; 
  background: #00613950; 
}

.cube-viewport {
  width: 100%;
  aspect-ratio: 1;
  display: flex;
}

.cube-card:hover {
  background-color: #51ce9a6c;
  cursor: pointer;
  border: 1px solid rgb(133, 131, 85); 
}

.cube-info {
  padding: 1.7rem;
  font-size: 0.7rem;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgba(228, 226, 163, 0.651);
  text-align: left;
}