<div class="catalog-container">
    <div *ngFor="let cube of cubes" class="cube-card">
      <div [routerLink]="cube._id" [id]="'cube-container-' + cube._id" #cubeContainer class="cube-viewport"></div>
      <div [routerLink]="cube._id" [id]="'cube-container-' + cube._id" class="cube-info">
        <h3>created by: {{cube.userId.username}}</h3>
        <p>color: {{cube.colour}}</p>
        <p>size: {{cube.size}}</p>
        <p>rotation x: {{cube.rotation[0]}}</p>
        <p>rotation y: {{cube.rotation[1]}}</p>
        <p>rotation z: {{cube.rotation[2]}}</p>
    </div>
  </div>
