
.catalog-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem; /* Adjust the gap between items */
  justify-content: left;
  padding: 1rem;
}

.cube-card {
  display: inline-block;
  width: 300px; 
  aspect-ratio: 1;
  /* height: auto;  */
  padding: 0.5rem; 
  background: #00613950; 
  z-index: 1;
  color: rgb(252, 243, 0);
}

.cube-viewport {
  width: 100%;
  aspect-ratio: 1;
  display: flex;
}

.cube-card:hover {
  background-color: #51ce9a6c;
  cursor: pointer;
  border: 1px solid rgb(252, 243, 0);
}

.cube-info {
  position: relative;  
  padding: 1.7rem;
  font-size: 0.7rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(141, 140, 96);
  text-align: left;
  transition: all 0.3s ease; 
}

.cube-info:hover {
  color: rgb(252, 243, 0);
  text-shadow: 0 0 2px rgba(252, 243, 0, 0.5);
  /* z-index: 1; */
}