.footer {
    background-color: #0036203b;  /* Same as header */
    color: white;
    padding: 20px 0;
    position: relative;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  
  .footer-links {
    list-style: none;
    display: flex;
    gap: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  }
  
  .footer-links li {
    font-size: 1rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  }
  
  .footer-links a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .footer-links a:hover {
    color: #ddd;  /* Lighter color when hovered */
  }
  
  .footer-social {
    display: flex;
    gap: 15px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  }
  
  .footer-social .social-icon {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .footer-social .social-icon:hover {
    color: #ddd;  /* Lighter color when hovered */
  }