@if(isLoggedIn) {
<div class="welcome-section">
  <h1 class="welcome-title">Welcome back, {{profileDetails.username}}!</h1>
  <p class="welcome-text">Discover, share, and explore amazing 3D creations.</p>
</div>
} @else {
<div class="welcome-section">
  <h1 class="welcome-title">Welcome to The Cube Club: Your 3D Creation Playground!</h1>

  <p class="welcome-text">Unleash your creativity and bring your ideas to life!</p>
  <p class="welcome-text">Customize your very own animated 3D cubes with</p>
  <p class="welcome-text">vibrant colors, dynamic sizes, and mesmerizing rotation speeds.</p>
  <p class="welcome-text">Whether you're here for fun or to craft something unique,</p>
  <p class="welcome-text">the power to design is in your hands.</p>
  <p class="welcome-text">Start creating now and watch your imagination take shape in 3D!</p>

  <p class="login-footer">
    Don't have an account? <a routerLink="/register" class="login-link">Register here</a>
</p>
</div>

}