<main class="register-container">
    <div class="register-box">
      <h1 class="register-title">Register</h1>
      <form class="register-form" [formGroup]="form" (ngSubmit)="register()">
        <div class="form-group">
          <label for="username" class="form-label">Username *</label>
          <input
            [class]="isInputMissing('username') || isNotMinLength('username') ? 'form-input-error' : 'form-input'"
            type="text"
            id="username"
            name="username"
            placeholder="Enter your username"
            formControlName="username"
            required
          />
        </div>
        @if(form.get('username')?.touched){
          <div class="form-error">
              @if(form.get('username')?.errors?.['required']){
                  <p>Username is required!</p>
              }
              @if(form.get('username')?.errors?.['minlength']){
                  <p>Username must be at least 5 characters!</p>
              }
          </div>
        }
        <div class="form-group">
          <label for="email" class="form-label">Email *</label>
          <input
            [class]="isInputMissing('email') || isEmailNotValid ? 'form-input-error' : 'form-input'"
            type="email"
            id="email"
            name="email"
            placeholder="Enter your email"
            formControlName="email"
            required
          />
        </div>
        @if(form.get('email')?.touched){
          <div class="form-error">
              @if(form.get('email')?.errors?.['required']){
                  <p>Email is required!</p>
              }
              @if(form.get('email')?.errors?.['emailValidator']){
                  <p>Email is not valid!</p>
              }
          </div>
        }
        <div class="form-group">
          <label for="tel" class="form-label">Phone number</label>
          <input
            class="form-input"
            type="num"
            id="tel"
            name="tel"
            placeholder="Enter your phone number"
            formControlName="tel"
          />
        </div>
        <div formGroupName="passGroup">
          <div class="form-group">
            <label for="password" class="form-label">Password *</label>
            <input
              
              [class] = "(
                (getPassGroup?.get('password')?.touched &&
                getPassGroup?.get('password')?.errors?.['required']) ||
                (getPassGroup?.get('password')?.touched &&
                getPassGroup?.get('password')?.errors?.['minlength'])
                )
                ? 'form-input-error' : 'form-input' "
              type="password"
              id="password"
              name="password"
              placeholder="Enter your password"
              formControlName="password"
              required
            />
          </div>
          @if(getPassGroup?.get('password')?.touched){
            <div class="form-error">
                @if(getPassGroup?.get('password')?.errors?.['required']){
                  <p>Password is required!</p>
                }
                @if(getPassGroup?.get('password')?.errors?.['minlength']){
                  <p>Password must be at least 5 characters!</p>
              }
            </div>
          }
          <div class="form-group">
            <label for="rePassword" class="form-label">Confirm Password *</label>
            <input
            [class] = "(
              (getPassGroup?.get('rePassword')?.touched &&
              (getPassGroup?.get('rePassword')?.errors?.['required'] ||
              getPassGroup?.errors?.['matchPasswordsValidator'])
              ))
              ? 'form-input-error' : 'form-input' "
              type="password"
              id="rePassword"
              name="rePassword"
              placeholder="Confirm your password"
              formControlName="rePassword"
              required
            />
          </div>
          @if(getPassGroup?.get('rePassword')?.touched){
            <div class="form-error">
                @if(getPassGroup?.get('rePassword')?.errors?.['required']){
                    <p>Confirming password is required!</p>
                }
            </div>
          }
          @if(getPassGroup?.get('rePassword')?.touched){
            <div class="form-error">
              @if(getPassGroup?.errors?.['matchPasswordsValidator'] ||
              getPassGroup?.get('rePassword')?.errors?.['required']){
                <p>Password do not match!</p>
              }
          </div>
          }
        </div>
        <button
          [disabled]="form.invalid"
          [style]="{ backgroundColor: form.invalid ? '#51ce9a33' : '#d6ff00' }"
          class="register-button">
          Register
        </button>
        <p class="register-footer">
          Already have an account? <a routerLink="/login" class="register-link">Login here</a>
        </p>
      </form>
    </div>
  </main>