<header class="header">
    <!-- <app-welcome-cube/> -->
    <div class="logo" routerLink="/home">THE CUBE CLUB</div>
    
    <!-- <img src="path/to/logo.svg" alt="The Cube Club Logo" class="logo-img"> -->
    <nav class="nav">
        <ul class="nav-list">
            <li class="nav-item"><a routerLink="/home" class="nav-link">Home</a></li>
            <li class="nav-item"><a routerLink="/catalog" class="nav-link">Catalog</a></li>
            
            @if (isLoggedIn) {
            <li class="nav-item"><a routerLink="/create-cube" class="nav-link">Create Your Cube</a></li>
            <li class="nav-item"><a routerLink="/profile" class="nav-link">{{firstName}}'s profile</a></li>
            <li class="nav-item"><a (click)="logout()" class="nav-link">Logout</a></li>

            } @else {
            <li class="nav-item"><a routerLink="/login" class="nav-link">Login</a></li>
            <li class="nav-item"><a routerLink="/register" class="nav-link">Register</a></li>
            }
            
        </ul>
    </nav>
</header>