
<main class="create-container">
    <div class="create-box">
        <h1 class="create-title">Create Your Cube</h1>
        <form #form="ngForm" (ngSubmit)="createCube(form)" id="create-cube-form" class="form-label">
            <div class="form-group">
                <label for="cube-name" class="form-label">Name:</label>
                <input
                    [class]="(
                        (inputName?.touched && inputName?.errors?.['required'])
                        ? 'form-input-error' : 'form-input'
                    )"
                    type="text"
                    id="cube-name"
                    name="cubeName"
                    placeholder="Enter a cube's name here"
                    ngModel
                    #inputName="ngModel"
                    required
                >
            </div> 
            @if(inputName?.touched){
                <div class="form-error">
                    @if(inputName?.errors?.['required']){
                        <p >Input is required!</p>
                    }
                </div>
            }
            <div class="color-picker-container">
                <label for="cube-color" class="color-label">Color:</label>
                <input
                    [class]="(
                        (inputColor?.touched && inputColor?.errors?.['required'])
                        ? 'form-input-error' : 'form-input'
                    )"
                    type="color"
                    id="cube-color"
                    name="cubeColor"
                    [(ngModel)]="defaultColor"
                    #inputColor="ngModel"
                    required
                >
            </div> 
            @if(inputColor?.touched){
                <div class="form-error">
                    @if(inputColor?.errors?.['required']){
                        <p >Input is required!</p>
                    }
                </div>
            }
            <div class="form-group">
                <label for="cube-size" class="form-label">Size:</label>
                <input
                    [class]="(
                        (inputSize?.touched && inputSize?.errors?.['required'])
                        ? 'form-input-error' : 'form-input'
                    )"
                    type="number"
                    id="cube-size"
                    name="cubeSize"
                    placeholder="Enter size here"
                    min="0.5"
                    max="5"
                    step="0.5"
                    ngModel
                    #inputSize="ngModel"
                    required
                >
            </div>
            @if(inputSize?.touched){
                <div class="form-error">
                    @if(inputSize?.errors?.['required']){
                        <p >Input is required!</p>
                    }
                </div>
            }
            <div class="form-group">
                <label for="rotation-x" class="form-label">Rotation X Speed:</label>
                <input
                    [class]="(
                            (inputRotationX?.touched && inputRotationX?.errors?.['required'])
                            ? 'form-input-error' : 'form-input'
                    )"
                    type="number"
                    id="cube-size"
                    name="rotationX"
                    placeholder="Enter here rotation in X axis"
                    min="0"
                    max="2"
                    step="0.01"
                    ngModel
                    #inputRotationX="ngModel"
                    required
                >
            </div>
            @if(inputRotationX?.touched){
                <div class="form-error">
                    @if(inputRotationX?.errors?.['required']){
                        <p >Input is required!</p>
                    }
                </div>
            }
            <div class="form-group">
                <label for="rotation-y" class="form-label">Rotation Y Speed:</label>
                <input
                    [class]="(
                                (inputRotationY?.touched && inputRotationY?.errors?.['required'])
                                ? 'form-input-error' : 'form-input'
                    )"
                    type="number"
                    id="cube-size"
                    name="rotationY"
                    placeholder="Enter here rotation in Y axis"
                    min="0"
                    max="2"
                    step="0.01"
                    ngModel
                    #inputRotationY="ngModel"
                    required
                >
            </div>
            @if(inputRotationY?.touched){
                <div class="form-error">
                    @if(inputRotationY?.errors?.['required']){
                        <p >Input is required!</p>
                    }
                </div>
            }
            <div class="form-group" >
                <label for="rotation-z" class="form-label">Rotation Z Speed:</label>
                <input
                    [class]="(
                        (inputRotationZ?.touched && inputRotationZ?.errors?.['required'])
                        ? 'form-input-error' : 'form-input'
                    )"
                    type="number"
                    id="cube-size"
                    name="rotationZ"
                    placeholder="Enter here rotation in Z axis"
                    min="0"
                    max="2"
                    step="0.01"
                    ngModel
                    #inputRotationZ="ngModel"
                    required
                >
            </div>
            @if(inputRotationZ?.touched){
                <div class="form-error">
                    @if(inputRotationZ?.errors?.['required']){
                        <p >Input is required!</p>
                    }
                </div>
            }
            <div class="form-group">
                <label for="cube-post" class="form-label">Author's comment:</label>
                <input
                    [class]="(
                        (inputPost?.touched && inputPost?.errors?.['required'])
                        ? 'form-input-error' : 'form-input'
                    )"
                    type="text"
                    id="cube-post"
                    name="cubePost"
                    placeholder="Enter a comment here"
                    ngModel
                    #inputPost="ngModel"
                    required
                >
            </div> 
            @if(inputPost?.touched){
                <div class="form-error">
                    @if(inputPost?.errors?.['required']){
                        <p >Input is required!</p>
                    }
                </div>
            }
            <button 
                [disabled]="form.invalid"
                [style]="{ backgroundColor: form.invalid ? '#51ce9a33' : '#d6ff00' }"
                class="create-button">
                Create Cube
            </button>
        </form>
    </div>
</main>